@charset "UTF-8";

/* CSS Document */

body {
            
    background-image: url(../assets/narrusbkg.jpg);
    background-color: #D7FFE1;
            
}

    
@font-face {
            
    font-family: geoSans;
    src: url(../assets/GeosansLight.ttf);
        
}

.center {
    
    display: block;
    margin: auto;
    
}

.hidden {
    
    display: none;
    
}

.hidden_mobile {
    
    display: none;
    
}

        
.menuNav {
        
    color: #5FD2B7;
    font-family: geoSans;
    font-size: 52px;
    text-align: center;
    
    width: 100%;
                
}
        
.menuContent {
            
    width: 100%;
    padding: 15px;
            
}

#contactTable {
            
    width: 100%;
    padding: 15px;
            
}

#logo {
    
    position: relative; 
    top: 15px;
    
}


#email {
    
    width: 152px;
    padding: 10px;
    border-radius: 10px;
    border-width: 1px;
    border-color: #AAAAAA;
    
    /*fallback*/
    background-color: white; 

    /*cross-browser support*/
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#FFFFFF), to(#DDDDDD));
    background-image: -webkit-linear-gradient(top, white, #DDDDDD); 
    background-image: -moz-linear-gradient(top, white, #DDDDDD);
    background-image: -ms-linear-gradient(top, white, #DDDDDD);
    background-image: -o-linear-gradient(top, white, #DDDDDD);
    
}

#submit {
    
    color: white;
    background-color: #18909D;
    padding: 10px;
    border-radius: 10px;
    border-width: 0px;
    
    cursor: pointer;
    
}

#submit:hover { background-color: #68CFCC; }

dd {
            
    color: #18909D;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 11px;
    text-align: justify;
    line-height: 150%; 
    
    position: relative; 
    right: 35px;
            
}   
        
dt { cursor: pointer; }

a { text-decoration: none; }

a:link { color: #68CFCC; }
a:hover { color: #45716C; }
a:active { color: black; }
a:visted { color: black; }