/* MOBILE.CSS is for mobile windows -- the nav has been removed.*/

/* 
 * COLOR GUIDE:
 * 
 * #515647 . . . . dark green gray */



/* generic custom classes */

.center {
    
    margin: auto;
    display: block;
    
}

.centerVert {
            
        display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */ 
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;  /* NEW, Chrome 21+ */
        display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
            
        -webkit-box-align: center; -moz-box-align: center; /* OLD… */
        -ms-flex-align: center; /* You know the drill now… */
        -webkit-align-items: center;
        align-items: center;
            
        -webkit-box-pack: center; -moz-box-pack: center; 
        -ms-flex-pack: center; 
        -webkit-justify-content: center;
        justify-content: center;
            
        margin: 0;
        height: 100%;
        width: 100% /* needed for Firefox */
        
} 

.hidden {
    
    display: none;
    
}


/* header styles: styles top area */

header {
    
    display: -webkit-box;   /* OLD: Safari,  iOS, Android browser, older WebKit browsers.  */
        display: -moz-box;      /* OLD: Firefox (buggy) */ 
        display: -ms-flexbox;   /* MID: IE 10 */
        display: -webkit-flex;  /* NEW, Chrome 21+ */
        display: flex;          /* NEW: Opera 12.1, Firefox 22+ */
            
        -webkit-box-align: center; -moz-box-align: center; /* OLD… */
        -ms-flex-align: center; /* You know the drill now… */
        -webkit-align-items: center;
        align-items: center;
            
        -webkit-box-pack: center; -moz-box-pack: center; 
        -ms-flex-pack: center; 
        -webkit-justify-content: center;
        justify-content: center;
            
        margin: 0;
        height: 100%;
        width: 100% /* needed for Firefox */
    
}

.gradient-header {
   /* fallback/image non-cover color */
   background-color: #1a82f7; 

   /* Safari 4+, Chrome 1-9 */
   background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#30332a), to(#1c1e19));

   /* Safari 5.1+, Mobile Safari, Chrome 10+ */
   background-image: -webkit-linear-gradient(top, #30332a, #1c1e19); 

   /* Firefox 3.6+ */
   background-image: -moz-linear-gradient(top, #30332a, #1c1e19);
 
   /* IE 10+ */
   background-image: -ms-linear-gradient(top, #30332a, #1c1e19);

   /* Opera 11.10+ */
   background-image: -o-linear-gradient(top, #30332a, #1c1e19);
}

.headerimg {
    
    position: absolute;
    width: 150%;
    height: auto;
    margin-left:-75%;
    
    top: 40%;
    
}

#headernav { display: none; }

/* body styles: styles area behind newsfeed */

body {
    
    background-color: #515647;
    margin: 0;
    
}

footer{ display: none; }

body, html {
    
    height: 100%;
    
}


/* nav styles: styles circles on the sides of the DOM */


/* newsfeed styles: styles main section of document */

/* #newsfeed {
    
    background-color: #30332a;
    
    width: 100%;
    height: 100%;
    
    padding: 0px;
}

#newsfeed_content {
    
    font: 18px arial;
    color: white;
    
    margin: 30px;
    
    
}

#buffer {
    
    width: 100%;
    height: 215px;
    
}*/
